# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# Datasets
data/*.csv

# Generated CSV reports
reports/*.csv

# Python build artifacts
*.egg-info/
dist/
build/

# OS/editor files
.DS_Store
.vscode/
